---
import Button from "./Button.astro";
const { header } = Astro.props;
const { img } = Astro.props;
const { description } = Astro.props;
const { button } = Astro.props;
const { link } = Astro.props;
---

<div class="frontcard">
  <a href={link}>
    <h2>{header}</h2>
    <img class="img" src={img} alt="" />
    <p>{description}</p>
    <Button class="button" variant="primary">{button}</Button>
  </a>
</div>

<style>
  .frontcard {
    max-width: 600px;
    background-color: #1e1e1e;
    color: #fff;
    padding: 2rem 2rem;
    margin-bottom: 3rem;
    height: fit-content;
    border-radius: 10px;
  }

  .frontcard * {
    padding: 1rem 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .img {
    border-radius: 20px;
  }
</style>
